---
import Layout from '../layouts/Layout.astro';
import STLViewerGallery from '../components/STLViewerGallery';

const stlFiles = [
	'/3d_models/openscad/cable_organizer/winder.stl',
	'/3d_models/openscad/cable_organizer/spull_bigger_thin.stl',
	'/3d_models/openscad/cable_organizer/spull_bigger.stl',
	'/3d_models/openscad/cable_organizer/spull_simple.stl',
	'/3d_models/openscad/cable_organizer/spull_watch_charger.stl',
	'/3d_models/openscad/cable_organizer/winder_bottom.stl',
	'/3d_models/openscad/cable_organizer/winder_center.stl',
	'/3d_models/openscad/cable_organizer/winder_top.stl',
];



---

<Layout>
	<div>
	  <STLViewerGallery client:only="react" urls={stlFiles} />
	</div>
</Layout>
