---
import Layout from '../layouts/Layout.astro';
import STLViewerGallery from '../components/STLViewerGallery';

const stlFiles = [
	'/openscad/helpinghand_solid/helpinghand_solid_assembly_helper_bottom_left.stl',
	'/openscad/helpinghand_solid/helpinghand_solid_assembly_helper_bottom_right.stl',
	'/openscad/helpinghand_solid/helpinghand_solid_assembly_helper_bottom.stl',
	'/openscad/helpinghand_solid/helpinghand_solid_assembly_helper_tightener.stl',
	'/openscad/helpinghand_solid/helpinghand_solid_assembly_helper_top_left.stl',
	'/openscad/helpinghand_solid/helpinghand_solid_assembly_helper_top_right.stl',
	'/openscad/helpinghand_solid/helpinghand_solid_connector_element.stl',
	'/openscad/helpinghand_solid/helpinghand_solid.stl',
];

---

<Layout>
	<div>
	  <STLViewerGallery client:only="react" urls={stlFiles} />
	</div>
</Layout>
