---
import Layout from '../layouts/Layout.astro';
import STLViewerGallery from '../components/STLViewerGallery';

const stlFiles = [
	'/3d_models/openscad/helpinghand/helping_hand.stl',
	'/3d_models/openscad/helpinghand/helping_hand_base_element.stl',
	'/3d_models/openscad/helpinghand/helping_hand_connector_element.stl',
	'/3d_models/openscad/helpinghand/helping_hand_linse_holder.stl',
	'/3d_models/openscad/helpinghand/helping_hand_terminal_element.stl',
];

---

<Layout>
	<div>
	  <STLViewerGallery client:only="react" urls={stlFiles} />
	</div>
</Layout>
