---
import Layout from '../layouts/Layout.astro';
import STLViewerGallery from '../components/STLViewerGallery';

const stlFiles = [
	'/openscad/honeycomb/panel_9x9.stl',
];

---

<Layout>
	<div>
	  <STLViewerGallery client:only="react" urls={stlFiles} />
	</div>
</Layout>
