---
import Layout from '../layouts/Layout.astro';
import STLViewerGallery from '../components/STLViewerGallery';

const stlFiles = [
	'/3d_models/openscad/honeycomb/corner_3.stl',
	'/3d_models/openscad/honeycomb/corner_4.stl',
	'/3d_models/openscad/honeycomb/corner_7.stl',
	'/3d_models/openscad/honeycomb/honeycomb_clips_v2.stl',
	'/3d_models/openscad/honeycomb/honeycomb_clips.stl',
	'/3d_models/openscad/honeycomb/honeycomb_element.stl',
	'/3d_models/openscad/honeycomb/left_perimeter_4.stl',
	'/3d_models/openscad/honeycomb/left_perimeter.stl',
	'/3d_models/openscad/honeycomb/panel_10x1.stl',
	'/3d_models/openscad/honeycomb/panel_9x8.stl',
	'/3d_models/openscad/honeycomb/panel_9x9.stl',
	'/3d_models/openscad/honeycomb/perimeter_bottom_double_corner_mirrow.stl',
	'/3d_models/openscad/honeycomb/perimeter_bottom_double_corner.stl',
	'/3d_models/openscad/honeycomb/perimeter_bottom_double_v2.stl',
	'/3d_models/openscad/honeycomb/perimeter_bottom_double_v3.stl',
	'/3d_models/openscad/honeycomb/perimeter_bottom_double_v4.stl',
	'/3d_models/openscad/honeycomb/perimeter_bottom_double.stl',
	'/3d_models/openscad/honeycomb/perimeter_bottom_item.stl',
	'/3d_models/openscad/honeycomb/perimeter_bottom_single_v2.stl',
	'/3d_models/openscad/honeycomb/perimeter_bottom_single.stl',
	'/3d_models/openscad/honeycomb/perimeter_single_item.stl',
	'/3d_models/openscad/honeycomb/perimeter_top_double_right_corner.stl',
	'/3d_models/openscad/honeycomb/perimeter_top_double_short.stl',
	'/3d_models/openscad/honeycomb/perimeter_top_double_v2.stl',
	'/3d_models/openscad/honeycomb/perimeter_top_double.stl',
	'/3d_models/openscad/honeycomb/perimeter_top_single_left_corner.stl',
	'/3d_models/openscad/honeycomb/perimeter_top_single.stl',
	'/3d_models/openscad/honeycomb/right_perimeter_4.stl',
	'/3d_models/openscad/honeycomb/right_perimeter.stl',
	'/3d_models/openscad/honeycomb/single_fix.stl',
	'/3d_models/openscad/honeycomb/wall.stl',

];

---

<Layout>
	<div>
	  <STLViewerGallery client:only="react" urls={stlFiles} />
	</div>
</Layout>
