---
import Layout from '../layouts/Layout.astro';
import STLViewerComponent from '../components/STLViewerComponent.jsx';
const modelUrl = '/3d_models/openscad/blocknote/cover.stl';

---

<Layout>
	<div>
	  <STLViewerComponent client:only="react" url={modelUrl} />
		<ul>
			<li><a href="/3d_models/blocknote">Blocknote</a></li>
			<li><a href="/3d_models/helpinghand">Third Hand</a></li>
			<li><a href="/3d_models/helpinghand_solid">Third Hand Solid</a></li>
			<li><a href="/3d_models/cablewinder">Cable Organizer</a></li>
			<li><a href="/3d_models/honeycomb">Honeycomb</a></li>
		</ul>
	</div>
</Layout>
