---
import Layout from '../layouts/Layout.astro';
import STLViewerComponent from '../components/STLViewerComponent.jsx';
const modelUrl = '/openscad/blocknote/cover.stl';

---

<Layout>
	<div>
	  <STLViewerComponent client:only="react" url={modelUrl} />
		<ul>
			<li><a href="/blocknote">Blocknote</a></li>
			<li><a href="/helpinghand">Third Hand</a></li>
			<li><a href="/helpinghand_solid">Third Hand Solid</a></li>
			<li><a href="/cablewinder">Cable Organizer</a></li>
			<li><a href="/honeycomb">Honeycomb</a></li>
		</ul>
	</div>
</Layout>
